html, body {
    font-family: "Caviar Dreams", sans-serif;
    overflow: hidden;
    padding: 0;
    margin: 0;

    background: url('texas.jpg'); 
    background-size: cover;
    background-attachment: fixed;
}
#page1 {
    height: 100vh;
    width: 100vw;
    /* background-color: lightgreen; */
}
#page2 {
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
}
#page3 {
    height: 100vh;
    width: 100vw;
    background-color: pink;
}
